/* Importing the VT323 font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Styling for the body element */
body {
    background: blue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'VT323', monospace; /* Applying the VT323 font to the body */
}

/* Styling for the menu section */
.menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the player 1 image */
#p1 {
    width: 100px;
    height: 100px;
}

/* Styling for the player 1 information section */
.p1Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

/* Styling for player 1 name */
#p1Name {
    font-size: 30px;
}

/* Styling for player 1 health */
#p1Health {
    font-size: 50px;
}

/* Styling for the player 2 image */
#p2 {
    width: 100px;
    height: 100px;
}

/* Styling for the player 2 information section */
.p2Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}

/* Styling for player 2 name */
#p2Name {
    font-size: 30px;
}

/* Styling for player 2 health */
#p2Health {
    font-size: 50px;
}

/* Styling for the player controls section */
.playerControls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Styling for the attack control */
.attack {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100px;
}

/* Styling for the heal control */
.heal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 100px;
}

/* Styling for the attack button */
#attack {
    height: 30px;
    width: 60px;
    border-radius: 50px;
    border: none;
    background: #FFFF01;
    outline: none;
}

/* Styling for the heal button */
#heal {
    height: 30px;
    width: 60px;
    border-radius: 50px;
    border: none;
    background: #7DFFFF;
    outline: none;
}

/* Styling for the play button */
#play {
    height: 50px;
    width: 120px;
    border-radius: 20px;
    background: #02cf02;
    outline: none;
    color: white;
}

/* Styling for the result text */
#result {
    font-size: 50px;
    color: #3dff3d;
}

/* Styling for the reset button */
#reset {
    margin-top: 20px;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    background: #FF8800;
    outline: none;
    color: white;
}

/* Styling for the result container */
.resultContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 300px;
}
