/* Global styling for the body */
body {
    background-color: #111; /* Background color */
    color: white; /* Text color */
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; /* Font family */
    margin: 0; /* Remove default margin */
}

/* Styling for the dropdown container */
.dropdown-container {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 3px;
    display: none; /* Initially hidden */
}

/* Styling for the dropdown menu */
.dropdown {
    background-color: black;
    padding: 8px;
    border-radius: 4px;
    width: 100px;
}

.dropdown span {
    cursor: pointer; /* Set cursor to pointer */
}

/* Styling for the MovieHub Originals section */
.original__movies {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Hover effect for displaying the dropdown container */
.profile:hover .dropdown-container {
    display: block; /* Display when profile is hovered */
}

/* Styling for movie containers, handling overflow with scroll */
.original__movies, .movies__container {
    padding-left: 50px;
    display: flex;
    overflow-x: scroll; /* Horizontal scroll for overflow */
    overflow: hidden;
}

.original__movies::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers */
}

.original__movies img {
    margin-right: 10px;
    height: 250px;
    width: auto;
}

.original__movies img, .movies__container img {
    transition: all 0.2s ease-out; /* Smooth transition for images */
    cursor: pointer;
}

/* Hover effect for scaling images on hover */
.original__movies img:hover, .movies__container img:hover {
    transform: scale(1.1);
}

.movies__container img {
    margin-right: 10px;
    width: 200px;
}

/* Styling for the page header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 15px;
}

.logo > img {
    width: 120px;
}

/* Styling for user profile */
.profile {
    position: relative;
}

.profile > img {
    width: 40px;
}

img {
    width: 100px;
}

/* Styling for the featured section with background image */
.featured {
    height: 400px;
    position: relative;
    background-image: url('https://image.tmdb.org/t/p/original//3lBDg3i6nn5R2NKFCJ6oKyUo2j5.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Gradient overlay for the featured section */
.featured::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

/* Styling for h2 elements in MovieHub Originals and Movies sections */
.movieHubOriginals h2, .movies__header h2 {
    padding-left: 30px;
}

/* Styling for h2 element in the featured section */
.featured h2 {
    font-size: 50px;
    margin: 0;
    z-index: 10;
}

/* Styling for buttons in the featured section */
.featured .featured__buttons {
    z-index: 10;
}

.featured .featured__buttons button {
    font-size: 16px;
    color: white;
    background-color: rgba(109, 109, 110, 0.7);
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
}

/* Styling for the play button in the featured section */
.featured .featured__buttons .button__play {
    background-color: white;
    color: black;
}

.button__play i {
    margin-right: 6px;
}

/* Styling for the description in the featured section */
.featured .featured__description {
    max-width: 350px;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
    z-index: 10;
}

/* Styling for the modal body containing iframe and trailer not found message */
.modal-body iframe {
    width: 100%;
}

.modal-body span {
    color: #333;
    width: 100%;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}
